@font-face {
    font-family: "Poppins";
    src: url("../../../fonts/Poppins/Poppins-Medium.ttf");
  }

  @font-face {
    font-family: "PoppinsBlack";
    src: url("../../../fonts/Poppins/Poppins-Black.ttf");
  }
  @font-face {
    font-family: "PoppinsBold";
    src: url("../../../fonts/Poppins/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: "PoppinsRegular";
    src: url("../../../fonts/Poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Yesteryear";
    src: url("../../../fonts/Yesteryear/Yesteryear-Regular.ttf");
  }